.page-template-container .tools-nav-box {
  display: flex;
  justify-content: space-between;
}
.page-template-container .tools-nav-box .tools-nav-list {
  position: sticky;
  top: calc(var(--header-height) + var(--component-gap));
  flex-shrink: 0;
  box-sizing: border-box;
  width: 9rem;
  max-height: calc(100vh - calc(var(--header-height) + var(--component-gap)));
  margin-right: 1.6rem;
keep-tablet()
keep-mobile()
}
.header-shrink .page-template-container .tools-nav-box .tools-nav-list {
  top: calc(var(--header-shrink-height) + var(--component-gap));
  max-height: calc(100vh - calc(var(--header-shrink-height) + var(--component-gap)));
}
.page-template-container .tools-nav-box .tools-nav-list .tool-nav-category {
  margin-bottom: 0.2rem;
  padding: 0.6rem 0.8rem;
  color: var(--text-color-3);
  font-size: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.page-template-container .tools-nav-box .tools-nav-list .tool-nav-category:hover,
.page-template-container .tools-nav-box .tools-nav-list .tool-nav-category.active {
  color: var(--primary-color);
  background: var(--background-color-2);
}
.page-template-container .tools-nav-box .tools-nav-list .tool-nav-category:last-child {
  margin-bottom: 0;
}
.page-template-container .tools-nav-box .tool-item-list {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
keep-tablet()
keep-mobile()
}
.page-template-container .tools-nav-box .tool-item-list .tool-category-name {
  display: flex;
  grid-column: span 4;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.6rem;
  padding: 0.2rem 0 0.2rem 0.8rem;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.6;
}
.page-template-container .tools-nav-box .tool-item-list .tool-category-name:first-child {
  margin-top: 0;
}
.page-template-container .tools-nav-box .tool-item-list .tool-category-name::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.3rem;
  height: 80%;
  background: var(--primary-color);
  border-radius: 0.2rem;
  transform: translateY(-50%);
  content: '';
}
.page-template-container .tools-nav-box .tool-item-list .tool-category-name .category-name {
  color: var(--text-color-3);
}
.page-template-container .tools-nav-box .tool-item-list .tool-category-name i.fa-solid {
  margin-left: 1rem;
  color: var(--text-color-4);
  font-size: 1.1rem;
  cursor: pointer;
}
.page-template-container .tools-nav-box .tool-item-list .tool-item {
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0 1px 3px var(--shadow-color);
  cursor: pointer;
}
.page-template-container .tools-nav-box .tool-item-list .tool-item:hover {
  box-shadow: 0 1px 6px var(--shadow-color);
}
.page-template-container .tools-nav-box .tool-item-list .tool-item .a-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0.6rem;
}
.page-template-container .tools-nav-box .tool-item-list .tool-item .a-wrap .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.page-template-container .tools-nav-box .tool-item-list .tool-item .a-wrap .top .logo {
  flex-shrink: 0;
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
  font-size: 1.6rem;
  border-radius: 50%;
}
.page-template-container .tools-nav-box .tool-item-list .tool-item .a-wrap .top .logo.has-bg {
  background-color: var(--background-color-2);
}
.page-template-container .tools-nav-box .tool-item-list .tool-item .a-wrap .top .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  object-fit: cover;
  background-color: var(--background-color-1);
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
}
.page-template-container .tools-nav-box .tool-item-list .tool-item .a-wrap .top .name {
  width: 100%;
  padding: 0 0.6rem;
  font-size: 1.2rem;
}
.page-template-container .tools-nav-box .tool-item-list .tool-item .a-wrap .bottom {
  flex-shrink: 0;
  width: 100%;
  height: 2.2rem;
  font-size: 0.9rem;
}
